   /* código omitido */

body {
    background-color: #1D4221;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 12px;
}
button{
    background-color: blueviolet;
    color: aliceblue;
    font-family: "Pixelify Sans", sans-serif;
}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}
main{
    max-width: 90%;
text-align:left;
}
img{max-width: 80%;}